body {
  background-color: #323232;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

#content {
  display: inline-block;
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  border: 5px solid #ffffff;
  cursor: pointer;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tr:first-child td {
  border-top: none;
}
tr:last-child td {
  border-bottom: none;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}

.playerInformation {
  padding: 3em;
}